@{
    ViewData["Title"] = "ارتباس با ما";
}

<section id="one">
    <header class="major">
        <h2>
            تماس با من
        </h2>
    </header>
</section>

<section id="two">
    <div class="row">
        <table>
            <tr>
                <td>Email:</td>
                <td>@ViewBag.Email</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>@ViewBag.Mobile</td>
            </tr>
            <tr>
                <td>Github:</td>
                <td>@ViewBag.Github</td>
            </tr>
        </table>
    </div>
</section>